In [11]:
import pandas as pd

In [12]:
text_df=pd.read_csv('text_source_for_web.csv')

In [13]:
text_df.head()

,Main_Category,description_texts1,description_texts2,description_texts3,description_texts4
0,Undergraduate Student in Engineering,It's great to know that you are studying Engin...,If you study any engineering that does not tea...,We strongly recommend you that try to keep you...,NaN
1,Undergraduate Student in Science,It's great to know that you are studying in Su...,If you have some knowledge about these concept...,If you study any science that does not teach ...,We strongly recommend you that try to keep you...
2,Undergraduate Student in Business/Commerce,Continue your education and make sure your you...,NaN,NaN,NaN
3,Undergraduate Student in Arts,Continue your education and make sure your you...,NaN,NaN,NaN
4,Bachelor in Engineering,Continue your education and make sure your you...,NaN,NaN,NaN

In [17]:
text_df.iloc[0]

Main_Category                      Undergraduate Student in Engineering
description_texts1    It's great to know that you are studying Engin...
description_texts2    If you study any engineering that does not tea...
description_texts3    We strongly recommend you that try to keep you...
description_texts4                                                  NaN
Name: 0, dtype: object

In [9]:
text_df['Description_Texts'][0]

'Continue your education and make sure your your CGPA does not go below \\\n                    3.5Continue your education and make sure your your CGPA does not go below \\\r\n                    3.5Continue your education and make sure your your CGPA does not go below\\\r\n                     3.5Continue your education and make sure your your CGPA does not go below \\\r\n                     3.5Continue your education and make sure your your CGPA does not go below \\\r\n                     3.5Continue your education and make sure your your CGPA does not go below \\\r\n                     3.5Continue your education and make sure your your CGPA does not go below\\\r\n                      3.5Continue your education and make sure your your CGPA does not go below \\\r\n                      3.5Continue your education and make sure your your CGPA does not go below \\\r\n                      3.5Continue your education and make sure your your CGPA does not go below \\\r\n                      3.5Continue your education and make sure your your CGPA does not go below \\\r\n                      3.5Continue your education and make sure your your CGPA does not go below \\\r\n                      3.5Continue your education and make sure your your CGPA does not go below\\\r\n                       3.5Continue your education and make sure your your CGPA does not go below\\\r\n                        3.5Continue your education and make sure your your CGPA does not go below 3.5'

In [8]:
text_df['Degree'].values.tolist()

['Undergraduate Student in Engineering',
 'Undergraduate Student in Science',
 'Undergraduate Student in Business/Commerce',
 'Undergraduate Student in Arts',
 'Bachelor  in Engineering',
 'Bachelor  in Science',
 'Bachelor  in Business/Commerce',
 'Bachelor in Arts',
 'Masters  in Engineering',
 'Masters  in Science',
 'Masters  in Business/Commerce',
 'Masters in Arts',
 'PhD  in Engineering',
 'PhD  in Science',
 'PhD  in Business/Commerce',
 'PhD in Arts',
 'Postdoc  in Engineering',
 'Postdoc  in Science',
 'Postdoc  in Business/Commerce',
 'Postdoc in Arts']